<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Pully - Your friendly pull list</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/pulllist.css">
    <!-- endbuild -->
  </head>
  <body ng-app="pullyApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="SearchCtrl">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li>
            <a ng-click="toggleSearch()" ng-href="#">
              <span class="glyphicon glyphicon-plus"></span> Add Series
            </a>
          </li>
          <li ng-show="showSearch" class="animate-search">
            <input id="searchBox" type="text" class="form-control input-lg" ng-model="searchQuery" ng-keyup="search($event)" placeholder="Search" />
          </li>
        </ul>
        <h3 class="text-muted">Pully</h3>
      </div>

      <div class="panel panel-success ng-hide" ng-show="searchResults">
        <div class="panel-heading">
          Results for '{{ searchResults.searchQuery }}'
          <span class="close pull-right glyphicon glyphicon-remove" ng-click="clearResults()"></span>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 text-right form-inline">
              <label>Filter:</label>
              <input type="text" ng-model="resultsFilter" class="form-control input-sm" />
            </div>
          </div>
          <table class="results-table table table-hover">
            <thead>
              <tr>
                <th ng-click="sort('name')" class="col-sm-5">Series</th>
                <th ng-click="sort('publisher.name')" class="col-sm-4">Publisher</th>
                <th ng-click="sort('start_year')" class="col-sm-2">Start Year</th>
                <th class="col-sm-1">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="result in searchResults.results | orderBy: sortBy | filter: resultsFilter">
                <td><a href="{{result.site_detail_url}}" target="_blank">{{ result.name }}</a></td>
                <td>{{ result.publisher.name }}</td>
                <td>{{ result.start_year }}</td>
                <td><a ng-click="addComic({{result.id}})" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p class="text-right">
          Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://www.twitter.com/Marcus_Noble_" target="_blank">@Marcus_Noble_</a>
        </p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/mock.js"></script>
    <script src="scripts/models/Comic.js"></script>
    <script src="scripts/services/pulllist.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/comicvineapi.js"></script>
    <script src="scripts/controllers/comicdetails.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <!-- endbuild -->
</body>
</html>
